/**
Theme Name: Astra Child
Author: Brainstorm Force
Author URI: http://wpastra.com/about/
Description: Astra is the fastest, fully customizable & beautiful theme suitable for blogs, personal portfolios and business websites. It is very lightweight (less than 50KB on frontend) and offers unparalleled speed. Built with SEO in mind, Astra comes with schema.org code integrated so search engines will love your site. Astra offers plenty of sidebar options and widget areas giving you a full control for customizations. Furthermore, we have included special features and templates so feel free to choose any of your favorite page builder plugin to create pages flexibly. Some of the other features: # WooCommerce Ready # Responsive # Compatible with major plugins # Translation Ready # Extendible with premium addons # Regularly updated # Designed, Developed, Maintained & Supported by Brainstorm Force. Looking for a perfect base theme? Look no further. Astra is fast, fully customizable and beautiful theme!
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: astra-child
Template: astra
*/

.coretecMobile{
	overflow: hidden!important;
}
.social-icons li a:hover i{
	color: #f3b415!important;
}
.site-header  .site-header-above-section-left  .address > a >  p:first-child,
.site-header .ast-builder-html-element > p:first-child,
.site-header .ast-builder-html-element > p:last-child{
	display: none;
}
.ast-builder-menu-1 .menu-item > .menu-link{
	font-weight: 700;
    font-size: 17px;
    text-transform: uppercase;
	    color: #653a03;
}
.product-detail-layout-6 .slide.selected-slide:after  {
	display: none!important;
}
.product-detail-layout-6 .slide.selected-slide a {
	display: block;
    position: relative;
}
.row.search-row {
    max-width: 1140px!important;
	width: 100%!important;
    margin: 0 auto;
    padding: 20px!important;
}
.product-detail-layout-6 .slide.selected-slide a:after {
    content: ""!important;
    background-image: url(https://icustomfloor.com/wp-content/plugins/grand-child/product-listing-templates/images/PDP_check_icon.png)!important;
    height: 38px!important;
    width: 38px!important;
    background-repeat: no-repeat!important;
    position: absolute!important;
    top: 50%!important;
    left: 50%!important;
    transform: translate(-50%, -50%);
    z-index: +9;
}

 .ast-container > .fl-content-full.container{
	width: 100%!important;
} 
.uabb-infobox-title-wrap > .uabb-infobox-title-prefix{
    font-size: 25px!important;
}
footer .storename a:hover p, footer .storename a:hover span{
    color:  #653a03!important;
}
.single-post .site-content > .ast-container {
    max-width: 1200px;
}
.container.fl-content-full>.row>.fl-content {
    margin: 0;
	padding: 0px!important;
}
.footerServing .uabb-infobox-content
{
    display: flex;
    align-items: center;
}
.ast-title-bar-align-center .ast-advanced-headers-breadcrumb{
	display: none!important;
}
.search_result{
	padding: 20px!important;
	max-width: 1200px!important;
	margin: 0 auto;
	width: 100%;
}
.search_result h1.page-title{
	font-size: 25px;
    font-family: 'Poppins';
    color: #653a03;
    font-weight: 700;
}
.search_result .plp-view-product{
	background-color: #ffc021!important;
    border-color: #ffc021;
    color: #ffffff!important;
    border-radius: 0px!important;
    font-size: 14px!important;
    letter-spacing: 1px;
    border: 0px!important;
    padding: 10px 10px;
    font-family: Poppins;
    font-weight: 600!important;
	height: 45px;
	width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
body#singlepost .site-content {
    max-width: 1200px!important;
    padding: 20px;
    margin:0 auto!important;

}
body#singlepost .entry-header{
    display: none!important;
    margin: 0px;
}
body#singlepost .post.type-post{
    padding-top: 0px;
}

body#singlepost .widget-area.secondary .widget-title{
    font-size: 25px;

}
body#singlepost .widget_search{
   margin-bottom: 20px!important; 
}

.search_result .plp-view-product:hover{
	background-color: #e5ac1d!important;
	text-decoration: none!important;
}
.footerServing .uabb-infobox-content .uabb-infobox-title-wrap
{
    width: 30%;
}
.footerServing .uabb-infobox-content .uabb-infobox-title-wrap .uabb-infobox-text, .footerServing .uabb-infobox-content .uabb-infobox-title-wrap .uabb-infobox-text p, .fl-builder-content .fl-node-60efd5c29eb9e .uabb-infobox-text, .uabb-infobox-content .uabb-infobox-text p 
{
    margin: 0px!important;
	padding-bottom: 0px!important;
}
.social p{
    margin-bottom: 0px!important;
/*     margin-left: 10px!important;     */
}
.social .social-icons{
	margin-left: 10px!important;	
}
.social .fl-rich-text{
	display: flex;
	width: 100%;
	justify-content: flex-end;
	align-items: center;
}
.social .fl-rich-text strong{
	font-size: 19px;
	font-weight: 500;
	text-transform: uppercase;
}
ul.social-icons li{
	margin-bottom: 0;
	width: auto;
}
ul.social-icons li:last-child{
	margin-right: 0;
}
ul.social-icons li a i {
    font-size: 32px;
	font-family: "Font Awesome 5 Brands" !important;
}
footer .storename{
	list-style: none!important;
	padding: 0px!important;
	margin: 0px!important;
}
.store-opening-hrs{
	margin-left: 0px!important;
}
footer .storename .address a p{
    margin-bottom: 0px!important;
}
.foContent .fl-rich-text > p:nth-child(1){
    margin: 0px!important;   
}
.site-primary-footer-wrap, .site-below-footer-wrap{
    display: none!important;
}
#primary {
    margin: 0 !important;
}
.site-header .storename{
	margin: 0px;
	list-style-type: none;
}
.gform_legacy_markup_wrapper .gfield_time_ampm,
.gform_legacy_markup_wrapper .gfield_time_hour,
.gform_legacy_markup_wrapper .gfield_time_minute{
	max-width: none !important; 	
}
.gform_legacy_markup_wrapper,
body .gform_legacy_markup_wrapper ul li.gfield{
	margin-top: 0 !important;
}
body .gform_legacy_markup_wrapper ul li.gfield .datepicker_with_icon{
	width: calc(100% - 25px);
}
.gform_wrapper .top_label li.gfield input,
.gform_wrapper .top_label li.gfield select{
	height: auto !important;
/* 	width: 100%; */
}
.phone a {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
	font-weight: 500;
}
#primary, #secondary {
    padding: 0em 0!important;
    margin: 0!important;
}
.facet_filters .facet-wrap>strong {
    border-bottom: 2px solid #000;
	color: #000;
}
.loc-row .storename {
    list-style: none!important;
    margin: 0px!important;
    padding: 0px!important;
}
.loc-row .storename p {
    margin: 0px;
    padding: 0px;
    font-size: 30px;
}
.loc-row .store-opening-hrs li {
    padding: 0px 0px 10px!important;
    color:#653a03!important;
}
.article.page > header.entry-header, .page .entry-header {
	display: none!important;
	margin: 0px!important;
}
.topBar .fl-rich-text > p {
    margin: 0px!important;
    padding: 0px!important;
}
.topBar .fl-rich-text .storename {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.uabb-search-form .uabb-button {
	border: none!important;
	outline: none!important;
}
.topBar .phone a span:before{
	content: "\f095";
    font: normal normal normal 18px/1 FontAwesome;
    font-size: 24px!important;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px!important;
}
footer .phone a span:before{
	content: "\f095";
    font: normal normal normal 18px/1 FontAwesome;
    font-size: 19px!important;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px!important;
}
.topBar .phone a:hover span{
	color: #000!important;
}
.privacy-policy-row .storename, .privacy-policy-row .phone {
    display: inline-block;
}
.privacy-policy-row .storename{
	margin-left: 10px!important;
	list-style: none;
}
.fl-slide .fl-bg-video video{
	width: 100%;
}
.ast-breadcrumbs-wrapper a, .ast-breadcrumbs-wrapper .breadcrumb_last, .ast-breadcrumbs-wrapper span {
    font-size: 16px!important;
}
/*Gravity Form css*/
.gform_legacy_markup_wrapper .math_medium input {
    width: 210px!important;
}
.gform_legacy_markup_wrapper .gfield_checkbox li label, .gform_legacy_markup_wrapper .gfield_radio li label {
    font-size: 16px!important;
}
.gform_wrapper .top_label li.gfield .gfield_time_ampm select, .gform_wrapper .top_label li.gfield input:not([type=checkbox])  {
	height: 55px!important;
}
.gform_wrapper .top_label li.gfield select .gf_placeholder{
	color: rgba(101,58,3,0.42)!important;
}
.gform_wrapper .gfield_time_hour i {
    align-items: center!important;
    display: flex!important;
    margin-top: 0px!important;
}
.uabb-module-content .uabb-button span{
	text-transform: uppercase!important;
}
h1,h2,h3,h4,h5,h6{
	opacity: 1!important;
}
.product-detail-layout-6.custom {
    padding-left: 20px;
}
.currentPromoWrap {
    max-width: 1160px;
    margin: 0 auto;
}
@media(max-width: 1025px){
	.flooring-links h3 span{
		font-size: 18px!important;
	}	
.gfield .gfield_time_hour > input, .gfield .gfield_time_minute > input, .gfield .gfield_time_ampm select {
    min-width: 60px!important;
}
.gfield .gfield_time_ampm select {
    min-width: 80px!important;
}
.gfield select, .gfield input, .gfield textarea {
    padding: 10px!important;
}
}
@media(max-width: 768px){
.product-detail-layout-6.custom {
    padding: 0px 20px;
}
	.uabb-heading-text br{
		display: none!important;
	}
.secondary{
	display: none!important;		
}
.hamburger{
	outline: none!important;		
}
.loc-row .uabb-button, .loc-row .uabb-btn {
	max-width: 280px!important;	
}
.loc-row .store-opening-hrs-container .store-opening-hrs li span {
    margin-right: 300px;
}
.loc-row .storename p {
    margin: 0px;
    padding: 0px;
    font-size: 24px;
}
.max-width-400 img{
	max-width: 400px!important;
	width: 100%!important;
	margin: 0 auto!important;
	display: block!important;
}
.uabb-content-block .uabb-image-content{
	display: block!important;
}
.social .fl-rich-text {
    display: flex;
    width: 100%;
    justify-content: center;
}	
.footerMenu .fl-col-group > .fl-col{
	width: 50%!important;	
}
header svg.hamburger-menu {
    background: url(/wp-content/uploads/2021/09/hamburgerMenue.png);
    background-size: cover;
    font-size: 55px;
    height: 40px;
    margin-top: -10px!important;
}
header svg.hamburger-menu>* {
    display: none;
}	
}
@media(max-width: 667px){
.gform_legacy_markup_wrapper .gfield_checkbox li input, .gform_legacy_markup_wrapper .gfield_checkbox li input[type=checkbox], .gform_legacy_markup_wrapper .gfield_radio li input[type=radio] {
    vertical-align: top!important;
}	
.gform_legacy_markup_wrapper .gfield_checkbox li label, .gform_legacy_markup_wrapper .gfield_radio li label {
    font-size: 14px!important;
}	
.loc-row .store-opening-hrs-container .store-opening-hrs li span {
    margin-right: 0px;
}
.footerMenu .fl-col-group > .fl-col{
	width: 100%!important;	
}
.footerServing .uabb-infobox-content {
    flex-direction: column;
}
.footerServing .uabb-infobox-content .uabb-infobox-title-wrap{
    width: 100%;
}
}

/* Slider height issue on mobile */
@media(max-width: 768px) {
    .fl-content-slider .fl-slide-bg-photo {
        position: absolute!important;
        min-height: 500px!important;
    }
	.fl-content-slider .fl-slide-foreground .fl-builder-content .fl-row > .fl-row-content-wrap {
		min-height: 500px;
	}
    .fl-slide-mobile-photo {
        z-index: +2;
        position: relative;
        max-height: 500px!important;
        text-align: center!important;
        vertical-align: middle;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
    }
    .fl-slide-mobile-photo > img{
        padding: 50px;
		max-height: 500px!important;
		width: auto;
		margin: 0 auto;
    }
    .fl-content-slider .fl-slide {
        min-height: 500px !important;
		max-height: 500px !important;
    }
	.product-attributes table {
		table-layout: fixed!important;
	}
	.fl-content-slider .fl-slide-bg-link {
	    z-index: +2;
	}	
}